.navbar-items {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  .navbar-item {
    color: rgba(79, 79, 79, 1);
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
  }
  .navbar-item:hover {
    color: #23bfef;
    border-bottom-width: 1px;
    border-bottom-color: #23bfef;
  }
}
.lg-navbar {
 background-color: white;
}
.lg-navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;

  .lg-navbar-item {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }
  .lg-navbar-item:hover{
    color: #23bfef;
  }
}
.active-locale{
  border-color: rgb(35,191,239);
}
